@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center form-control">
    <h1 class="display-4">Welcome to My Library</h1>
    <p>On our platform you will be able to create and collect books.</p>
    <p>Login and choose your favourite collection of books!.</p>
</div>
